{
    "ids": {
        {% if wireless_profile_data[camera.wireless.profile_1].id is defined %}
        {% set camera_profile_1 = wireless_profile_data[camera.wireless.profile_1].id %}
        {% endif %}
        {% if camera_profile_1 is defined %}
        "primary": "{{ camera_profile_1 }}",
        {% endif %}
        {% if wireless_profile_data[camera.wireless.profile_2].id is defined %}
        {% set camera_profile_2 = wireless_profile_data[camera.wireless.profile_2].id %}
        {% endif %}
        {% if camera_profile_2 is defined %}
        "secondary": "{{ camera_profile_2 }}",
        {% endif %}
        {% if camera.wireless.backup_profile is defined and wireless_profile_data[camera.wireless.backup_profile].id is defined %}
        {% set camera_profile_backup = wireless_profile_data[camera.wireless.backup_profile].id %}
        {% endif %}
        {% if camera_profile_backup is defined %}
        "backup": "{{ camera_profile_backup }}"
        {% endif %}
    }
}