{
    "name": "{{ profile.name }}",
    {% if profile.cloud_archive is defined %}
    "cloudArchiveEnabled": {{ profile.cloud_archive }},
    {% endif %}
    {% if profile.max_retention_days is defined %}
    "maxRetentionDays": {{ profile.max_retention_days }},
    {% else %}
    "maxRetentionDays": null,
    {% endif %}
    {% if profile.motion_based_retention is defined %}
    "motionBasedRetentionEnabled": "{{ profile.motion_based_retention }}",
    {% endif %}
    {% if profile.motion_detector_version is defined %}
    "motionDetectorVersion": {{ profile.motion_detector_version }},
    {% endif %}
    {% if profile.restricted_bandwidth_mode is defined %}
    "restrictedBandwidthModeEnabled": {{ profile.restricted_bandwidth_mode }},
    {% endif %}
    {% if profile.audio_recording is defined %}
    "audioRecordingEnabled": {{ profile.audio_recording }},
    {% endif %}
    {% if schedule_id is defined %}
    "scheduleId": "{{ schedule_id }}",
    {% else %}
    "scheduleId": null,
    {% endif %}
    {% if profile.video_settings is defined %}
    "videoSettings": {
            {% if profile.video_settings.MV12_MV22_MV72 is defined %}
            "MV12/MV22/MV72": {
                "quality": "{{ profile.video_settings.MV12_MV22_MV72.quality }}",
                "resolution": "{{ profile.video_settings.MV12_MV22_MV72.resolution }}",
            },
            {% endif %}
            {% if profile.video_settings.MV12WE is defined %}
            "MV12WE": {
                "quality": "{{ profile.video_settings.MV12WE.quality }}",
                "resolution": "{{ profile.video_settings.MV12WE.resolution }}"
            },
            {% endif %}
            {% if profile.video_settings.MV13 is defined %}
            "MV13": {
                "quality": "{{ profile.video_settings.MV13.quality }}",
                "resolution": "{{ profile.video_settings.MV13.resolution }}"
            },
            {% endif %}
            {% if profile.video_settings.MV21_MV71 is defined %}
            "MV21/MV71": {
                "quality": "{{ profile.video_settings.MV21_MV71.quality }}",
                "resolution": "{{ profile.video_settings.MV21_MV71.resolution }}"
            },
            {% endif %}
            {% if profile.video_settings.MV22X_MV72X is defined %}
            "MV22X/MV72X": {
                "quality": "{{ profile.video_settings.MV22X_MV72X.quality }}",
                "resolution": "{{ profile.video_settings.MV22X_MV72X.resolution }}"
            },
            {% endif %}
            {% if profile.video_settings.MV32 is defined %}
            "MV32": {
                "quality": "{{ profile.video_settings.MV32.quality }}",
                "resolution": "{{ profile.video_settings.MV32.resolution }}"
            },
            {% endif %}
            {% if profile.video_settings.MV33 is defined %}
            "MV33": {
                "quality": "{{ profile.video_settings.MV33.quality }}",
                "resolution": "{{ profile.video_settings.MV33.resolution }}"
            },
            {% endif %}
            {% if profile.video_settings.MV52 is defined %}
            "MV52": {
                "quality": "{{ profile.video_settings.MV52.quality }}",
                "resolution": "{{ profile.video_settings.MV52.resolution }}"
            },
            {% endif %}
            {% if profile.video_settings.MV63 is defined %}
            "MV63": {
                "quality": "{{ profile.video_settings.MV63.quality }}",
                "resolution": "{{ profile.video_settings.MV63.resolution }}"
            },
            {% endif %}
            {% if profile.video_settings.MV63X is defined %}
            "MV63X": {
                "quality": "{{ profile.video_settings.MV63X.quality }}",
                "resolution": "{{ profile.video_settings.MV63X.resolution }}"
            },
            {% endif %}
            {% if profile.video_settings.MV93 is defined %}
            "MV93": {
                "quality": "{{ profile.video_settings.MV93.quality }}",
                "resolution": "{{ profile.video_settings.MV93.resolution }}"
            },
            {% endif %}
            {% if profile.video_settings.MV93X is defined %}
            "MV93X": {
                "quality": "{{ profile.video_settings.MV93X.quality }}",
                "resolution": "{{ profile.video_settings.MV93X.resolution }}"
            },
            {% endif %}
            {% if profile.video_settings.MV2 is defined %}
            "MV2": {
                "quality": "{{ profile.video_settings.MV2.quality }}",
                "resolution": "{{ profile.video_settings.MV2.resolution }}"
            }
            {% endif %}
    }
    {% endif %}
}