{
    "id": "new",
    "placeholderPassword": false,
    "name": "{{ broker.name }}",
    "host": "{{ broker.host }}",
    "port": {{ broker.port }},
    {% if broker.security is defined %}
    "caFileName": "{{ broker.security.cert_file.split('/')[1] }}",
    {% endif %}
    {% if broker.authentication is defined %}
    "authentication": {
        "username": "{{ broker.authentication.username }}",
        "password": "{{ broker.authentication.password }}"
    },
    {% endif %}
    {% if broker.security is defined %}
    "security": {
        "mode": "{{ broker.security.mode }}",
        "tls": {
            {%- set cert_contents -%}
            {% include broker.security.cert_file %}
            {%- endset -%}
            "caCertificate": "{{ cert_contents | replace('\n', '\\n') }}",
            "hasCaCertificate": true,
            "verifyHostnames": {{ broker.security.hostname_verification }}
        }
    }
    {% endif %}
}